.board {
  width: 203px;
  margin: 0 auto;
  border: 10px solid #aed6f1;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  font-size: 50px;
  background-color: #aed6f1;
  grid-gap: 1px;
}
.board1 {
  width: 203px;
  height: 30px;
  margin: 0 auto;
  border: 10px solid #aed6f1;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 30px;
  font-size: 50px;
  background-color: #aed6f1;
  grid-gap: 1px;
}